<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI Id="BioShockUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Segoe UI" Size="9" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Segoe UI" Size="10" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <DialogRef Id="DiskCostDlg" /><DialogRef Id="ErrorDlg" /><DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" /><DialogRef Id="MsiRMFilesInUse" />

      <Dialog Id="LanguageDlg" Width="370" Height="270" Title="[ProductName] [ProductVersion]">
        <Control Id="Title" Type="Text" X="20" Y="18" Width="330" Height="24" Text="{\WixUI_Font_Title}Idioma de la instalación / Setup language" />
        <Control Id="LineTop" Type="Line" X="0" Y="48" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="35" Y="78" Width="300" Height="36" Text="Elige el idioma de todo el mod.&#13;&#10;Choose the language for the entire mod." />
        <Control Id="Spanish" Type="PushButton" X="68" Y="137" Width="104" Height="28" Default="yes" Text="Castellano">
          <Publish Property="BVR_LANGUAGE" Value="es" Order="1" /><Publish Event="DoAction" Value="SetLanguage" Order="2" />
          <Publish Event="NewDialog" Value="GameFolderDlg" Order="3" Condition="NOT Installed" />
          <Publish Event="NewDialog" Value="MaintenanceDlg" Order="4" Condition="Installed" />
        </Control>
        <Control Id="English" Type="PushButton" X="198" Y="137" Width="104" Height="28" Text="English">
          <Publish Property="BVR_LANGUAGE" Value="en" Order="1" /><Publish Event="DoAction" Value="SetLanguage" Order="2" />
          <Publish Event="NewDialog" Value="GameFolderDlg" Order="3" Condition="NOT Installed" />
          <Publish Event="NewDialog" Value="MaintenanceDlg" Order="4" Condition="Installed" />
        </Control>
        <Control Id="LineBottom" Type="Line" X="0" Y="235" Width="370" Height="0" />
        <Control Id="Cancel" Type="PushButton" X="296" Y="243" Width="62" Height="18" Cancel="yes" Text="Cancel / Cancelar"><Publish Event="SpawnDialog" Value="BvrCancelDlg" /></Control>
      </Dialog>

      <Dialog Id="GameFolderDlg" Width="370" Height="270" Title="[ProductName]">
        <Control Id="Title" Type="Text" X="15" Y="12" Width="340" Height="24" Transparent="yes" Text="{\WixUI_Font_Title}BioShock VR · DLSS/DLAA [ProductVersion]" />
        <Control Id="Description" Type="Text" X="15" Y="40" Width="340" Height="30" Text="[BVR_INSTALL_DESCRIPTION]" />
        <Control Id="FolderLabel" Type="Text" X="15" Y="79" Width="330" Height="14" Text="[BVR_FOLDER_LABEL]" />
        <Control Id="Folder" Type="Edit" X="15" Y="97" Width="267" Height="19" Property="BVR_GAMEPATH" />
        <Control Id="Browse" Type="PushButton" X="287" Y="97" Width="68" Height="19" Text="[BVR_BROWSE]">
          <Publish Property="GAMEDIR" Value="[BVR_GAMEPATH]" Order="1" /><Publish Property="_BrowseProperty" Value="GAMEDIR" Order="2" />
          <Publish Event="SpawnDialog" Value="BvrBrowseDlg" Order="3" />
        </Control>
        <Control Id="FirstRun" Type="Text" X="15" Y="130" Width="340" Height="29" Text="[BVR_FIRST_RUN]" />
        <Control Id="Credits" Type="Text" X="15" Y="162" Width="340" Height="34" Text="[BVR_CREDITS]" />
        <Control Id="Runtime" Type="Text" X="15" Y="200" Width="340" Height="14" Text="[BVR_RUNTIME_TEXT]" />
        <Control Id="DesktopShortcut" Type="CheckBox" X="15" Y="217" Width="340" Height="15" Property="BVR_DESKTOPSHORTCUT" CheckBoxValue="1" Text="[BVR_SHORTCUT_TEXT]" />
        <Control Id="Line" Type="Line" X="0" Y="235" Width="370" Height="0" />
        <Control Id="Next" Type="PushButton" X="226" Y="243" Width="62" Height="18" Default="yes" Text="[BVR_NEXT]">
          <Publish Event="DoAction" Value="ValidateGame" Order="1" /><Publish Event="SpawnDialog" Value="GameErrorDlg" Order="2" Condition="BVR_VALID &lt;&gt; &quot;1&quot;" />
          <Publish Event="SetTargetPath" Value="GAMEDIR" Order="3" Condition="BVR_VALID = &quot;1&quot;" /><Publish Event="EndDialog" Value="Return" Order="4" Condition="BVR_VALID = &quot;1&quot;" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="296" Y="243" Width="62" Height="18" Cancel="yes" Text="[BVR_CANCEL]"><Publish Event="SpawnDialog" Value="BvrCancelDlg" /></Control>
      </Dialog>

      <Dialog Id="MaintenanceDlg" Width="370" Height="270" Title="[ProductName] [ProductVersion]">
        <Control Id="Title" Type="Text" X="20" Y="18" Width="330" Height="24" Text="{\WixUI_Font_Title}[BVR_MAINT_TITLE]" />
        <Control Id="LineTop" Type="Line" X="0" Y="48" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="35" Y="75" Width="300" Height="42" Text="[BVR_MAINT_DESC]" />
        <Control Id="Repair" Type="PushButton" X="68" Y="137" Width="104" Height="28" Default="yes" Text="[BVR_REPAIR]">
          <Publish Property="REINSTALL" Value="ALL" Order="1" /><Publish Property="REINSTALLMODE" Value="amus" Order="2" /><Publish Event="EndDialog" Value="Return" Order="3" />
        </Control>
        <Control Id="Remove" Type="PushButton" X="198" Y="137" Width="104" Height="28" Text="[BVR_REMOVE]">
          <Publish Property="REMOVE" Value="ALL" Order="1" /><Publish Event="EndDialog" Value="Return" Order="2" />
        </Control>
        <Control Id="LineBottom" Type="Line" X="0" Y="235" Width="370" Height="0" />
        <Control Id="Cancel" Type="PushButton" X="296" Y="243" Width="62" Height="18" Cancel="yes" Text="[BVR_CANCEL]"><Publish Event="SpawnDialog" Value="BvrCancelDlg" /></Control>
      </Dialog>

      <Dialog Id="BvrBrowseDlg" Width="370" Height="270" Title="[BVR_BROWSE_TITLE]">
        <Control Id="PathEdit" Type="PathEdit" X="25" Y="202" Width="320" Height="18" Property="_BrowseProperty" Indirect="yes" />
        <Control Id="OK" Type="PushButton" X="240" Y="243" Width="56" Height="17" Default="yes" Text="[BVR_OK]" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="[BVR_CANCEL]"><Publish Event="Reset" Value="0" /><Publish Event="EndDialog" Value="Return" /></Control>
        <Control Id="ComboLabel" Type="Text" X="25" Y="58" Width="44" Height="10" TabSkip="no" Text="[BVR_LOOK_IN]" />
        <Control Id="DirectoryCombo" Type="DirectoryCombo" X="70" Y="55" Width="220" Height="80" Property="_BrowseProperty" Indirect="yes" Fixed="yes" Remote="yes"><Subscribe Event="IgnoreChange" Attribute="IgnoreChange" /></Control>
        <Control Id="Up" Type="PushButton" X="298" Y="55" Width="19" Height="19" ToolTip="[BVR_UP_TOOLTIP]" Text="^"><Publish Event="DirectoryListUp" Value="0" /></Control>
        <Control Id="NewFolder" Type="PushButton" X="325" Y="55" Width="19" Height="19" ToolTip="[BVR_NEW_TOOLTIP]" Text="+"><Publish Event="DirectoryListNew" Value="0" /></Control>
        <Control Id="DirectoryList" Type="DirectoryList" X="25" Y="83" Width="320" Height="98" Property="_BrowseProperty" Sunken="yes" Indirect="yes" TabSkip="no" />
        <Control Id="PathLabel" Type="Text" X="25" Y="190" Width="320" Height="10" Text="[BVR_FOLDER_NAME]" />
        <Control Id="LineTop" Type="Line" X="0" Y="44" Width="370" Height="0" /><Control Id="LineBottom" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="[BVR_BROWSE_TITLE]" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="250" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}[BVR_BROWSE_TITLE]" />
      </Dialog>

      <Dialog Id="BioShockProgressDlg" Width="370" Height="270" Title="[ProductName] [ProductVersion]" Modeless="yes">
        <Control Id="Title" Type="Text" X="20" Y="15" Width="330" Height="24" Text="{\WixUI_Font_Title}BioShock VR · DLSS/DLAA [ProductVersion]" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" /><Control Id="Description" Type="Text" X="20" Y="57" Width="330" Height="25" Text="[BVR_PROGRESS]" />
        <Control Id="StatusLabel" Type="Text" X="20" Y="91" Width="330" Height="15" Text="[BVR_STATUS]" />
        <Control Id="ProgressBar" Type="ProgressBar" X="20" Y="125" Width="330" Height="12" ProgressBlocks="yes"><Subscribe Event="SetProgress" Attribute="Progress" /></Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="235" Width="370" Height="0" /><Control Id="Cancel" Type="PushButton" X="296" Y="243" Width="62" Height="18" Default="yes" Cancel="yes" Text="[BVR_CANCEL]"><Publish Event="SpawnDialog" Value="BvrCancelDlg" /></Control>
      </Dialog>

      <Dialog Id="BioShockExitDlg" Width="370" Height="270" Title="[ProductName] [ProductVersion]">
        <Control Id="Title" Type="Text" X="20" Y="15" Width="330" Height="24" Text="{\WixUI_Font_Title}[BVR_COMPLETE]" /><Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="ShortcutHelp" Type="Text" X="20" Y="65" Width="330" Height="48" Hidden="yes" Text="[BVR_SHORTCUT_HELP]" ShowCondition="NOT (REMOVE ~= &quot;ALL&quot;) AND BVR_DESKTOPSHORTCUT = &quot;1&quot;" />
        <Control Id="FolderHelp" Type="Text" X="20" Y="65" Width="330" Height="48" Hidden="yes" Text="[BVR_FOLDER_HELP]" ShowCondition="NOT (REMOVE ~= &quot;ALL&quot;) AND BVR_DESKTOPSHORTCUT &lt;&gt; &quot;1&quot;" />
        <Control Id="GamePath" Type="Text" X="20" Y="121" Width="330" Height="65" Hidden="yes" NoPrefix="yes" Text="[GAMEDIR]" ShowCondition="NOT (REMOVE ~= &quot;ALL&quot;)" />
        <Control Id="Removed" Type="Text" X="20" Y="65" Width="330" Height="48" Hidden="yes" Text="[BVR_REMOVED]" ShowCondition="REMOVE ~= &quot;ALL&quot;" />
        <Control Id="BottomLine" Type="Line" X="0" Y="235" Width="370" Height="0" /><Control Id="Finish" Type="PushButton" X="296" Y="243" Width="62" Height="18" Default="yes" Cancel="yes" Text="[BVR_FINISH]"><Publish Event="EndDialog" Value="Return" /></Control>
      </Dialog>

      <Dialog Id="GameErrorDlg" Width="300" Height="120" Title="[BVR_ERROR_TITLE]">
        <Control Id="Message" Type="Text" X="15" Y="15" Width="270" Height="66" Property="BVR_ERROR" Text="[BVR_ERROR]" />
        <Control Id="OK" Type="PushButton" X="118" Y="91" Width="64" Height="18" Default="yes" Cancel="yes" Text="[BVR_OK]"><Publish Event="EndDialog" Value="Return" /></Control>
      </Dialog>
      <Dialog Id="BvrCancelDlg" Width="260" Height="100" Title="[ProductName]">
        <Control Id="Question" Type="Text" X="20" Y="18" Width="220" Height="25" Text="[BVR_CANCEL_QUESTION]" />
        <Control Id="Yes" Type="PushButton" X="74" Y="63" Width="52" Height="18" Default="yes" Text="[BVR_YES]"><Publish Event="EndDialog" Value="Exit" /></Control>
        <Control Id="No" Type="PushButton" X="134" Y="63" Width="52" Height="18" Cancel="yes" Text="[BVR_NO]"><Publish Event="EndDialog" Value="Return" /></Control>
      </Dialog>

      <Publish Dialog="BvrBrowseDlg" Control="OK" Event="CheckTargetPath" Value="GAMEDIR" Order="1" />
      <Publish Dialog="BvrBrowseDlg" Control="OK" Event="SetTargetPath" Value="[_BrowseProperty]" Order="2" />
      <Publish Dialog="BvrBrowseDlg" Control="OK" Property="BVR_GAMEPATH" Value="[GAMEDIR]" Order="3" />
      <Publish Dialog="BvrBrowseDlg" Control="OK" Event="EndDialog" Value="Return" Order="4" />
      <InstallUISequence>
        <Show Dialog="LanguageDlg" Before="ProgressDlg" />
        <Show Dialog="override ExitDialog" Sequence="1250" Condition="0" /><Show Dialog="BioShockExitDlg" OnExit="success" />
        <Show Dialog="override ProgressDlg" Sequence="1298" Condition="0" /><Show Dialog="BioShockProgressDlg" Sequence="1299" />
      </InstallUISequence>
    </UI>
    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>
